
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>City</th>
                <th>Chat ID</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vacancy in vacancies">
                <td>{{vacancy.vacancy.title}}</td>
                <td>{{vacancy.vacancy.description}}</td>
                <td>{{vacancy.vacancy.city}}</td>
                <td><a ng-href="/profile/{{vacancy.chatId}}">{{vacancy.chatId}}</a></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
        $('.modal').modal();
    });
</script>